<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->

<div class="content" role="main">

  <div class="row">

    <div class="col- mr-4"><b>Support de cours</b>

    </div>

    <div class="col- mr-4"><b>Exercices</b></div>

    <div class="col- mr-4"><b>Gestion des eleves</b></div>

    <div class="col- mr-4"><b>Messagerie</b></div>
    <div class="col- mr-4"><b>Tableau de bord</b></div>
    <div class="col- mr-4"><b>Messagerie</b>
    </div><div class="col- mr-4"><b><a routerLink="/connectionAdmin">Deconnexion</a></b></div>
    </div>
  </div>


<div class="content" role="main">

  <div class="row">
<!--
    <div class="card w-100 mb-3">
      <h5 class="card-header">Tableau de bord </h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>-->

    <div class="card w-100 mb-3">
      <h5 class="card-header">Support de cours </h5>
      <div class="card-body">
        <!--<h5 class="card-title">Special title treatment</h5>-->

        <span><a routerLink="#">Liste</a></span>&nbsp;
        <span><a routerLink="#">Ajout de support</a></span>&nbsp;
        <span><a routerLink="#">Documents</a></span>&nbsp;
        <span><a routerLink="#">Videos</a></span>&nbsp;
        <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
      </div>
    </div>

    <div class="card w-100 mb-3">
      <h5 class="card-header">Exercices</h5>
      <div class="card-body">
        <!--<h5 class="card-title">Special title treatment</h5>-->
        <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
      </div>
    </div>

    <div class="card w-100 mb-3">
      <h5 class="card-header">Gestion utilisateur</h5>
      <div class="card-body">
        <!--<h5 class="card-title">Special title treatment</h5>-->
        <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
      </div>
    </div>

    <div class="card w-100 mb-3">
      <h5 class="card-header">Messagerie</h5>
      <div class="card-body">
        <!--<h5 class="card-title">Special title treatment</h5>-->
        <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
      </div>
    </div>

    <div class="card w-100 ">
      <h5 class="card-header">Mon profil</h5>
      <div class="card-body">
        <!--<h5 class="card-title">Special title treatment</h5>-->
        <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
      </div>
    </div>

    </div>

</div>


<div class="content" role="main">

  <div class="row">
    <div class="card bg-light mb-3 mr-3 card w-75 "  style="max-width: 18rem;">
      <div class="card-header"><b>Support de cours</b></div>
        <div class="card-body">
          <span><a routerLink="#">Liste</a></span><br>
          <span><a routerLink="#">Ajout de support</a></span><br>
          <span><a routerLink="#">Documents</a></span><br>
          <span><a routerLink="#">Videos</a></span>
        </div>
      </div>

    <div class="card bg-light mb-3 mr-3 card w-75 "  style="max-width: 18rem;">
      <div class="card-header"><b>Excercices</b></div>
      <div class="card-body">
        <span><a routerLink="#">Liste</a></span><br>
        <span><a routerLink="#">Ajouter des exos</a></span><br>
      </div>
    </div>

    <div class="card bg-light mb-3 mr-3 card w-75 "  style="max-width: 18rem;">
      <div class="card-header"><b>Gestion des eleves</b></div>
      <div class="card-body">
        <span><a routerLink="#">Liste</a></span><br>
        <span><a routerLink="#">Inscription validee</a></span><br>
        <span><a routerLink="#">Inscription en attente</a></span><br>
      </div>
    </div>
</div>
</div>
