
.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  //align-items: center;
}

.connection-page-form{
  margin: 5% 0% 4% 0%;
}

.password-forgotten{
  margin-bottom: 1%;
}
.registration{
}
