<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->

<div class="content" role="main">

  <div class="row ">

    <div class="col-">
      <div class="card bg-light mb-3 mr-3 "  style="max-width: 18rem;">
        <div class="card-header"><b>Support de cours</b></div>
        <div class="card-body">
          <p class="card-text"><a routerLink="#">Liste</a></p>
          <p class="card-text"><a routerLink="#">Ajout de support</a></p>
          <p class="card-text"><a routerLink="#">Documents</a></p>
          <p class="card-text"><a routerLink="#">Videos</a></p>
        </div>
      </div>
    </div>

    <div class="col-">
      <div class="card bg-light mb-3 mr-3" style="max-width: 18rem;">
        <div class="card-header"><b>Exercices</b></div>
        <div class="card-body">
          <h5 class="card-title">Light card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>

    <div class="col-">

      <div class="card bg-light mb-3 mr-3" style="max-width: 18rem;">
        <div class="card-header"><b>Eleves</b></div>
        <div class="card-body">
          <h5 class="card-title">Light card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>

  </div>


  <div class="row ">

    <div class="col-">
      <div class="card bg-light mb-3 mr-3" style="max-width: 18rem;">
        <div class="card-header"><b>Messagerie</b></div>
        <div class="card-body">
          <h5 class="card-title">Light card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>

    <div class="col-">
      <div class="card bg-light mb-3 mr-3" style="max-width: 18rem;">
        <div class="card-header"><b>Mon profil</b></div>
        <div class="card-body">
          <h5 class="card-title">Light card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>

    <div class="col-">
      <div class="card bg-light mb-3 mr-3" style="max-width: 18rem;">
        <div class="card-header"><b>Tableau de bord</b></div>
        <div class="card-body">
          <h5 class="card-title">Light card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>

  </div>


