
<div class="content" role="main">

  <div class="connection-page-title">
    <span><b>Vous avez oublié votre mot de passe.</b></span>
  </div>

  <div class="connection-page-form">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
      </div>
      <div class="">
        <button type="submit" class="btn btn-primary">Reinitialiser le mot de passe</button>
        <span> ou <a routerLink=""> se connecter</a></span>
      </div>

    </form>
  </div>
  <!--
  <div class="password-forgotten"><span>Ou <a routerLink="registration"> vous avez oublié votre mot de passe </a></span></div>
  <div class="registration"><span>Vous n'avez pas de compte ? <a routerLink="registration"> S'inscrire </a></span></div>
  -->
</div>


